nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    background-color: #333;
    padding: 10px;
    color: white;
    align-items: center;
    justify-items: center;
    font-family: Arial, sans-serif;
    grid-template-rows: auto;
}
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: Arial, sans-serif;
    position: relative;
    bottom: 0;
    width: 100%;
}